.content {
  margin-top: 30px;
  padding-top: 4px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3.125rem 0 rgba(40,75,124,.08);
}

.learned-items {
  text-align: left;
}

.learned-items th,
.learned-items td {
  padding: 10px 15px;
}

.learned-items th {
  vertical-align: bottom;
  color: #70767c;
  font-size: 12px;
}

.learned-items td {
  vertical-align: middle;
  border-top: 1px solid #eef3f5;
}

.learned-items td:first-child {
  padding-left: 30px;
  border-color: transparent;
}

.learned-items td:last-child {
  padding-right: 30px;
}

.learned-item--date,
.learned-item--knowledge-level {
  white-space: nowrap;
}

.learned-item--image {
  border-radius: 50%;
}

.learned-item--date,
.learned-item--knowledge-level,
.learned-item--amount-repeated {
  text-align: center;
}

.learned-item--knowledge-level li {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #e1e5e7;
  border-radius: 50%;
  margin-right: 4px;
}

.learned-item--knowledge-level .is-active {
  background-color: #44cdc8;
}
